@import "vars.css";

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

/* all title for each section */
h2 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

hr {
  color: var(--secondarytext);
}
